* {
    font-family: "Audiowide", sans-serif;
}

body {
    background: url("./background_sky.png");
}

#escape-qbox {
    background: #cfe2ff;
    color:#001e4d;
    width: 90%;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.escape-btn {
    background: white;
    color:#001e4d;
    font-weight: 500;
    width: 27%;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px 2px;
    padding: 10px;
    margin: 2% 3% 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.escape-btn:hover:not([disabled]) {
    background: #001e4d;
    color: white;
}

.escape-btn:disabled {
    cursor: auto;
}

.escape-correct {
    background: #99eebb;
}

.escape-incorrect {
    background: #ff9999;
}

#escape-canvas {
    border-radius: 4px;
    border: 2px solid white;
    margin: 50px auto 0;
    display: block;
    padding: 0;
    width: 90%;
}
